<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ path('app_dashboard') }}" class="site_title"><i class="fa fa-rocket"></i> <span>LazyPimCrm</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_info">
                <span>Welcome {{ app.user ? app.user.username }} </span>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menu</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('app_dashboard') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li><a href="{{ path('nelmio_api_doc_index') }}"><i class="fa fa-flask"></i> REST API</a></li>
                </ul>
            </div>
            {#<div class="menu_section">#}
            {#<h3>PIM</h3>#}
            {#<ul class="nav side-menu">#}
            {#<li><a href="{{ path('pim_attribute_set_backend_list') }}"><i class="fa fa-product-hunt"></i> AttributeSets</a></li>#}
            {#<li><a href="{{ path('pim_category_backend_list') }}"><i class="fa fa-product-hunt"></i> Categories</a></li>#}
            {#<li><a href="{{ path('pim_tag_backend_list') }}"><i class="fa fa-product-hunt"></i> Tags</a></li>#}
            {#<li><a href="{{ path('pim_product_backend_list') }}"><i class="fa fa-product-hunt"></i> Products</a></li>#}
            {#</ul>#}
            {#</div>#}
            <div class="menu_section">
                <h3>CRM</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('crm_invoice_invoice_list') }}"><i class="fa fa-product-hunt"></i> Invoice</a></li>
                    <li><a href="#"><i class="fa fa-product-hunt"></i> Templates</a></li>
                    <li><a href="#"><i class="fa fa-product-hunt"></i> NumberRange</a></li>
                    <li><a href="{{path('app_individual_list')}}"><i class="fa fa-product-hunt"></i> Directory</a></li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>USERS</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('app_user_list') }}"><i class="fa fa-product-hunt"></i> User</a></li>
                </ul>
            </div>

            <div class="menu_section">
                <h3>PIM</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('app_center_list') }}"><i class="fa fa-users"></i>Center Manager</a></li>
                </ul>
            </div>


            <!-- <div class="menu_section">
                <h3>Super Administrator</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('company_index') }}"><i class="fa fa-users"></i> Comapny Manager</a></li>
                    <li><a href="{{ path('app_private_list') }}"><i class="fa fa-users"></i> Private Space Manager</a></li>
                    <li><a href="{{ path('app_common_list') }}"><i class="fa fa-users"></i> Common Space Manager</a></li>
                </ul>
            </div> -->

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('fos_user_security_logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>