{% extends 'base.html.twig' %}

{% block body %}
    <h1>Private Spaces list</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Room Number</th>
                <th>Door ID</th>
                <th>Type Of Room</th>
                <th>Center</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for space in spaces %}
            <tr>
                <td><a href="{{ path('app_private_show', { 'id': space.id }) }}">{{ space.id }}</a></td>
                <td>{{ space.roomNumber }}</td>
                <td>{{ space.doorId }}</td>
                <td>{{ space.typeOfRoom }}</td>
                <td>{{ space.center }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_private_show', { 'id': space.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_private_edit', { 'id': space.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_private_new') }}">Create a new private space</a>
        </li>
    </ul>
{% endblock %}
