{% extends 'base.html.twig' %}

{% block body %}
    <h1>Private Space</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ privatespace.id }}</td>
            </tr>
            <tr>
                <th>Room Number</th>
                <td>{{ privatespace.roomNumber }}</td>
            </tr>
            <tr>
                <th>Door ID</th>
                <td>{{ privatespace.doorId }}</td>
            </tr>
            <tr>
                <th>Type Of Room</th>
                <td>{{ privatespace.typeOfRoom }}</td>
            </tr>
            <tr>
                <th>Center</th>
                <td>{{ privatespace.center }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_private_list') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('app_private_edit', { 'id': privatespace.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
