{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Title</th>
                <th>Adress</th>
                <th>Plz</th>
                <th>City</th>
                <th>Telephone</th>
                <th>Lastname</th>
                <th>Apikey</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('app_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.title }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.plz }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.apiKey }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
