{% extends 'base.html.twig' %}

{% block body %}
    <h1>Companies list</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Plz</th>
            <th>City</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Website</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.adress }}</td>
                <td>{{ company.plz }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.email }}</td>
                <td>{{ company.tel }}</td>
                <td>{{ company.website }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('company_show', { 'id': company.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('company_edit', { 'id': company.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('company_new') }}">Create a new company</a>
{% endblock %}
